/* Chatbot Scrollbar */
.chat-scroll::-webkit-scrollbar {
  width: 6px;
}

.chat-scroll::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 10px;
}

.chat-scroll::-webkit-scrollbar-track {
  background: transparent;
}